body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
span{
    color: #ffa500;
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.half-width{
    width: 50%;
    padding-left: 5%;
    margin-left: 20px;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(243, 201, 129), tomato);
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
}
.dream-b{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exprieance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exprieance-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
h2{
    font-size: 30px;
}
#full-dev{
    border-left: 7px solid;
    border-image: linear-gradient( rgb(247, 68, 23), rgb(230, 173, 16));
    border-image-slice: 5;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient( blue, cyan);
    border-image-slice: 5;
}
footer p{
    text-align: center;
}